{% extends "base.html" %}

{% block page_content %}

{% if form.errors %}
<div class="error">Your username and password didn't match. Please try again.</div>
{% endif %}
<div id="login">
	<h2>Login</h2>
	<form method="post" action="{% url django.contrib.auth.views.login %}">
	<div>
	    {{ form.username.label_tag }}
	    {{ form.username }}
	</div>
	<div class="clearleft">
	    {{ form.password.label_tag }}
	    {{ form.password }}
	</div>
	
	<div class="main_action">
		<input type="submit" value="login" />
	</div>
		
	{% if not next and referer_path %}
	<input type="hidden" name="next" value="{{ referer_path }}" />
	{% else %}
	<input type="hidden" name="next" value="{{ next }}" />
	{% endif %}
	</form>
</div>
{% endblock %}