#add_project ul.errorlist {
    clear: both;
    padding-left: 11.5em;
}

#add_project .location_info {
    overflow: hidden;
}

#add_project .location_info fieldset {
    float: left;
    width: 46%;
}

#add_project .location_info fieldset legend span {
    width: 140px;
}

#add_project .location_info fieldset div div {
    padding: 0 0 0 5px;
}

#add_project #map {
    float: left;
}

#id_project_sectors, #id_project_implementors{
	width: 40em;
}

.file-size, .file-remove, .file-remove-edit, .photo-remove-edit {
    padding: 10px;
    text-decoration: underline;
}

li.file {
    overflow: hidden;
    color: #007BD6;
    clear: left;
}

#project-links {
    clear: both;
}

.resource_icon {
    display: block;
    height: 38px;
    width: 36px;
    float:left;
}

#main_content li.file div {
    float: left;
    padding: 8px 0 0 8px;
}

#add_video {
    margin-left: 155px;
}

.remove_video,
#add_video {
    text-decoration: underline;    
    cursor: pointer;
}

#map_wrapper {
    height: 20em;
    overflow: hidden;
    width: 47%;
}

.smallmap {
    width: 512px;
    height: 256px;
    border: 1px solid #ccc;
}

.help_text {
    padding: 5px;
    font-size: 9pt;    
}

#add_link {
    clear: both;
}

.file-attach, #add_link {
    padding-left: 10px;
}