#add_project ul.errorlist {
    clear: both;
    padding-left: 11.5em;
}

#id_project_sectors, #id_project_implementors{
	width: 40em;
}

.file-size, .file-remove, .file-remove-edit {
    padding-left: 10px;
}

.file-title{
    color: blue;
}

#add_video{
    margin-left: 200px;
}

.smallmap {
    width: 512px;
    height: 256px;
    border: 1px solid #ccc;
}
