#add_project ul.errorlist {
    clear: both;
    padding-left: 11.5em;
}

#add_project .location_info {
    overflow: hidden;
}

#add_project .location_info fieldset {
    float: left;
    width: 46%;
}

#add_project .location_info fieldset legend span {
    width: 140px;
}

#add_project .location_info fieldset div div {
    padding: 0 0 0 5px;
}

#add_project #map {
    float: left;
}

#id_project_sectors, #id_project_implementors{
	width: 40em;
}

.file-size, .file-remove, .file-remove-edit, .photo-remove-edit {
    padding-left: 10px;
}

.file-title{
    color: #000;
}

li.file {
    overflow: hidden;
}

.resource_icon {
    display: block;
    height: 38px;
    width: 36px;
    float:left;
}

#main_content li.file div {
    float: left;
    padding: 8px 0 0 8px;
}

#add_video{
    margin-left: 200px;
}

.smallmap {
    width: 512px;
    height: 256px;
    border: 1px solid #ccc;
}
