#project_search #share_li {
    display: block;
}

#bookmark {
    background-color: #DDD;
    border: 1px solid #999999;
    left: 15%;
    padding: 7px;
    position: absolute;
    top: 40%;
    width: 70%;
    z-index: 9999;
    font-size: 9pt;
} 

#bookmark #bookmark_close {
    background: #DDD url("../js/openlayers/img/close.gif") no-repeat top right;
    display: block;
    height: 15px;
}