body {
    margin: 0 auto;
    padding: 0px;
    color: #000;
    background-color: #0099FF;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 10pt;
}

img {
	border: none;
}

a {
    color: #0000FF;
}

a:visited {
    color: #800080;
}

a:hover {
    color: #FF0000;
}

#header,
#logo,
#explore_nav,
#main_nav,
.admin_links,
#main_pane,
#image_pane,
#review_suggestions .suggestion {
	overflow: hidden;
}

#header {
    color: #FFF;
    padding-bottom: 1em;
}

#main_nav,
#header {
    width: 93%;
    margin: 0 auto;
}

ul.layers,
ul.sectors,
ul.implementors,
ul.overlays
{
    clear: both;
}

#main_nav ul,
.admin_links ul {
    clear: right;
    padding: 0;
    font-size: 9pt;
}

#layercontrols, #filterable_criteria {
    font-size: 9pt;
    float: left;
    height: 378px;
    width: 13%;
    margin: 0 2px;
    overflow: auto;
}

.round_corner {
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
}

.floatleft {
    float: left;
}	

.floatright {
    float: right;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 5px;
}

li a {
    text-decoration: none;
    color: #000;
}	

.header_innertube {
	padding: 20px 0 0;
	overflow: hidden;
}

#main_nav ul li,
.admin_links ul li {
    float: left;
    margin-right: 4px;
}

#main_nav ul li a,
.admin_links ul li a,
.admin_links ul li span {
    display:block;
    background-color: #007bd6;
    margin: 0;
    padding: 5px 10px;
    color: #C1DEFB;
    -moz-border-radius-topleft: 4px;
    -moz-border-radius-topright: 4px;
    -webkit-border-top-left-radius: 4px;
    -webkit-border-top-right-radius: 4px;    
}

.admin_links ul li a,
.admin_links ul li span {
    color: #00386F;
    background-color: #C1DEFB;
    -moz-border-radius-bottomleft: 4px;
    -moz-border-radius-bottomright: 4px;
    -webkit-border-bottom-left-radius: 4px;
    -webkit-border-bottom-right-radius: 4px;
}

#main_nav ul li a:hover {
    background-color: #FFF;
    color: #003d79; 
}

#main_nav ul li a.current_li {
    background-color: #FFF;
    color: #000;
    -moz-border-radius-topleft: 4px;
    -moz-border-radius-topright: 4px;
    -webkit-border-top-left-radius: 4px;
    -webkit-border-top-right-radius: 4px;
}

#project_list td span.first,
#admin_unit_list td span.first,
#my_project_list td span.first,
.admin_links span.first {
    border-left: none;
}

#main_nav span.notification {
    padding: 0 3px;
    margin-left: 3px;
    background-color: #CC0000;
    color: #FFF;
    -moz-border-radius: 10px;
	-webkit-border-radius: 10px;
}

#main_content {
    background-color: #FFF;
    margin: 0 auto;
    padding-top: 1em;
}

#main_content fieldset {
    border-color: #007BD6;
    margin: 20px;
}

#main_content fieldset legend {
    color: #FFF;
}

#main_content fieldset legend span {
    background-color: #007BD6;
    display: block;
    padding: 5px;
}

#add_admin_unit fieldset div.details_div,
.clearleft {
	clear: left;
}

#add_admin_unit fieldset div.details_div label {
	width: 127px;
}

#add_admin_unit fieldset div {
    margin-bottom: 10px;
}

#main_content fieldset div,
#change_password div,
#login div,
#user_registration div,
#add_kml_file p {
    overflow: hidden;
    padding-bottom: 10px;
}

#main_content fieldset div.first_div {
    padding-top: 5px; /*mainly for IE*/
}

#main_content fieldset label,
#change_password div label,
#login div label,
#user_registration div label,
#add_kml_file label {
    float: left;
    width: 150px;
    padding-right: 5px;
    text-align: right;
}

#main_content fieldset input,
#change_password div input,
#login div input,
#user_registration div input {
    float: left;
}

#main_content #publish_project {
    padding-left: 15px;
}

#main_content .main_action {
    margin: 18px;
}

#main_content .main_action input,
#change_password .main_action input,
#login .main_action input,
#user_registration .main_action input {
    background-color: #0099FF;
    color: #FFF;
    padding: 5px;
    font-size: 10pt;
    border-style:solid;
    border-width:1px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    width : auto;
}

#main_content {
    clear: both;
    width: 93%;
}

#map_canvas{
    float: left;
    width: 55%;
    height: 400px;
    margin-top: 5px;
}

#projects {
    width: 30%;
}

#projects_searched {
    width: 44%;
}

#projects,
#projects_searched {
    height: 400px;
    margin: 0 5px 0 0;
    font-size: 9pt;
}

#projects #tabs,
#projects_searched #tabs {
    height: 371px;
}

#proj {
    height: 305px;
    overflow: auto;
    background: #FFF url("../img/bg_light_gradient.jpg") repeat-x 0 0;
}

#proj a {
    font-weight: bold;
}

#proj .proj_desc {
    padding-bottom: 20px;
}

#bookmark{
    display: none;
}

#layers #sectors li {
    float: left;
    margin: 1px;
    padding-left:0px;
}

ul.drawers {
    width: auto;
    padding-bottom: 0;  
}

li.drawer {
    padding-bottom: 2px;
}

li.drawer div {
    color: #FFF;
    padding: 5px;
}

#authentication {
    padding-bottom: 5px;
    padding-right: 5px;    
}

#authentication span a {
    font-size: 9pt;
    color: #FFF;
    text-decoration: underline;
}

#authentication ul {
    line-height: 1em;
}

#authentication ul li {
    float: left;
    padding: 0 10px;
}

#authentication ul li.welcome_msg {
    color: #C1DEFB;
}

#authentication ul li.last {
    border-left: 1px solid #C1DEFB;
    padding-right: 0;
}

#project_search .search_box {
    clear: both;
}

#project_search input {
    border-style: none;
    padding: 6px;
}

#project_search .search_text {
    color: #fff;
    background: transparent url('../img/search.png') no-repeat scroll top left;
    width: 33px;
    height: 33px;
    padding: 8px 0 3px;
}

span.drawer-handle {
    font-size: 1em;
}

#footer {
    clear: both;
    font-size: 8pt;
    padding: 15px 0;
    margin-top: 10px;
    text-align: center;
}

li.layers_drawer div,
li.sector_drawer div,
li.implementor_drawer div,
li.overlay_drawer div 
{
    background: #007BD6 url('../img/collapsed.png') no-repeat scroll 95% 50%;
    width: auto;
}

li.overlay_drawer .expanded,
li.sector_drawer .expanded,
li.implementor_drawer .expanded {
    background: #007BD6 url('../img/expanded.png') no-repeat scroll 95% 50%;
    width: auto;
}

table#projects th,
table#projects td {
    width: 20%;
    text-align: left;
}

.back_to_top {
    float: right;
}

.kml_file {
    display: none;
}

.proj_img img {
    height: 100px;
    width: 100px;
}   
 
/*ERRORS*/
.error {
    color: #FF0000;
    font-size: 9pt;
    padding: 5px;
}

ul.errorlist { 
	margin: 0; 
	padding: 0; 
} 
.errorlist li { 
	color: #FF0000; 
	font-size: 9pt;  
}

#id_groups {
    width:40em;
}

.flash_message_box {
    color: black;
    padding: 5px;
    overflow: hidden;
}

.flash_message,
#comment_message,
#publish_message {
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    padding: 5px;
    margin: 0 38%;
    text-align: center;
}

.flash_message {
    background-color: #FFF1A8;
}

#comment_message {
    margin-right: 15em;
}

.delete_comment {
    float: right;
    padding: 5px;
    text-decoration: underline;
}

.admin_links {
    padding: 0 15px;
}

.admin_links span {
    cursor: pointer;
}

/*PROJECTS FOR REVIEW, MY PROJECTS*/
#projects_for_review,
#my_projects,
#change_password,
#login,
#user_registration,
#project_comments,
#add_project,
#admin_units,
#add_admin_unit,
#add_kml_file {
    margin-left: 15px;
}

#my_project_list,
#project_list,
#kml_list,
#admin_unit_list {
    border-collapse: collapse;
    width: 80%;
}

#my_project_list th,
#admin_unit_list th,
#kml_list th,
#project_list th {
    background-color: #007BD6;    
}

#my_project_list td,
#admin_unit_list td,
#kml_list td,
#project_list td {
    background-color: #E2EBF4;    
}

#my_project_list th,
#my_project_list td,
#admin_unit_list th,
#admin_unit_list td,
#kml_list th,
#kml_list td,
#project_list th,
#project_list td {
    padding: 5px;   
    border: 2px solid #FFF;
    text-align: center;
}

#project_list td a,
#admin_unit_list td a,
#my_project_list td a {
    color: #000;
}

#project_list td span,
#my_project_list td span,
#admin_unit_list td span,
#project_comments span.delete_comment {
    border-left: 1px solid;
    padding-left: 5px;
    text-decoration: underline;
    cursor: pointer;
}

#project_comments span.delete_comment {
    float: none;
    padding: 0 0 0 5px;
}

#project_comments span.publish_comment {
    padding-left: 5px;
    text-decoration: underline;
    cursor: pointer;
}

.ui-dialog .ui-dialog-titlebar,
.ui-dialog .ui-state-default, 
.ui-dialog .ui-widget-content .ui-state-default {
    background: none;
    background-color: #007BD6;
    color: #000;
}

/*REVIEW SUGGESTION*/
#review_suggestions {
    background-color: #E2EBF4;    
    border: 1px solid #E2EBF4;
}

#review_suggestions .suggestion {
    padding: 5px;
    margin: 5px 5px 10px;
    border-bottom:5px solid #FFF;
}

#review_suggestions .suggestion .comment_by {
    float: right;
    color: #0000FF;
    font-size: 0.8em;
}

#review_suggestions .unread_suggestion {
    background-color: #ECE5B6;
}

#project_GroupDiv {
	z-index: 1000;
}

/*PROJECT COMMENTS*/
#comments{
    padding: 20px 20px 20px 0;
}

#comments div {
    overflow: hidden;
    background-color: #E2EBF4;
    border-bottom: 5px solid #FFF;
}

#comments div input {
    float: left;
    width: 2em;
}

#project_details #comments div span.comment_text,
#add_project #comments div span.comment_text {
    padding: 1em 0 0 2em;
}

#comments div span.comment_text {
    float: left;
    width: 60em;
}

#comments .comment_metainfo {
    color: #0000FF;
    font-size: 9pt;
    clear: left;
    padding: 10px 0 0 30px;
}

/*SEARCH RESULTS*/
#main_pane h3 {
    padding-left: 10px;
}

#main_pane span.search_term {
    color: #007BD6;
}

/*ADD ADMIN UNITS*/
#add_admin_unit .togglefield {
    float: left;
    cursor: pointer;
}

/*KML*/
#kml_list .delete_link {
    cursor: pointer;
    text-decoration: underline;
}

/*TRUNCATION OF TEXT*/

ul.sectors li label,
ul.implementors li label,
ul.layers li label,
ul.overlays li label {
    float: left;
	white-space: nowrap;
	text-overflow: ellipsis;/*For IE, Safari, Chrome*/
    -o-text-overflow: ellipsis;	/*For Opera*/
	overflow: hidden;
	width: 75%;
	display: block;
    -moz-binding: url('../assets/ellipsis.xml#ellipsis'); /*For Firefox*/
}

ul.sectors li input,
ul.implementors li input,
ul.layers li input,
ul.overlays li input {
    float: left;
}

ul.sectors li,
ul.implementors li,
ul.layers li,
ul.overlays li {
    clear: left;
    overflow: hidden;
}