body {
    margin: 0 auto;
    padding: 0px;
    color: #000;
    background-color: #0099FF;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 10pt;
}

img {
	border: none;
}

.main_wrapper {
    margin: auto;
}

#header,
#logo,
#explore_nav,
#main_nav,
#main_nav ul,
#main_pane,
#image_pane,
#review_suggestions .suggestion {
	overflow: hidden;
}

#header {
    color: #FFF;
}

#logo,
#main_nav,
#main_content_shadow {
    margin: auto;
}

#logo, 
#main_nav {
    width: 80%;
}

#unicef_tagline {
    font-size: 14pt;
    float: left;
    padding: 5px 0 0 15px;
    width: 5em;
}

ul.layers,
ul.sectors,
ul.implementors {
    color: #FFF;
    clear: both;
    padding: 10px;
    margin-bottom: 2px;
}

#main_nav_wrapper {
    background-color: #007BD6;
}

#main_nav ul {
    clear: right;
    padding: 0;
    font-size: 9pt;
}

#explore_nav {
    margin-bottom: 5px;
}

#explore_nav span {
    padding: 12px 18px 0 5px;
}

#explore_nav span.drawer-handle {
    padding: 5px 18px 0 5px;
}

#layercontrols, #filterable_criteria {
    font-size: 9pt;
    float: left;
    height: 378px;
    width: 15%;
    margin: 0 2px;
    overflow: auto;
}

.round_corner {
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
}

.floatleft {
    float: left;
}	

.floatright {
    float: right;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 5px;
}

li a {
    text-decoration: none;
    color: #000;
}	

.header_innertube {
	padding: 20px 0 0;
	overflow: hidden;
}

#main_nav ul li {
    border-left: 1px solid #FFF;
    float: left;
    margin: 5px;
    padding-left: 10px;
    height: 4.5em;
    width: 7em;
}

#main_nav ul li a {
    margin: 0;
    padding: 0;
    color: #FFF;
}

#main_nav #project_search li,
#main_nav li.first,
#project_list td span.first,
#admin_unit_list td span.first,
#my_project_list td span.first {
    border-left: none;
}

#main_nav span.notification {
    padding: 0 3px;
    margin-left: 3px;
    background-color: #FFF;
    color: #000;
    -moz-border-radius: 10px;
	-webkit-border-radius: 10px;
}

#main_content {
    background-color: #FFF;
    margin: 0 10px;
}

#main_content fieldset {
    border-color: #007BD6;
    margin: 20px;
}

#main_content fieldset legend {
    color: #FFF;
}

#main_content fieldset legend span {
    background-color: #007BD6;
    display: block;
    padding: 5px;
    width: 830px;
}

#main_content fieldset div,
#change_password div,
#login div,
#user_registration div {
    overflow: hidden;
    padding-bottom: 10px;
}

#main_content fieldset label,
#change_password div label,
#login div label,
#user_registration div label {
    float: left;
    width: 150px;
    padding-right: 5px;
    text-align: right;
}

#main_content fieldset input,
#change_password div input,
#login div input,
#user_registration div input {
    float: left;
}

#main_content #publish_project {
    padding-left: 15px;
}

#main_content .main_action {
    margin: 18px;
}

#main_content .main_action input,
#change_password .main_action input,
#login .main_action input,
#user_registration .main_action input {
    background-color: #0099FF;
    color: #FFF;
    padding: 5px;
    font-size: 10pt;
    border-style:solid;
    border-width:1px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    width : auto;
}

#main_content_shadow {
    background-color: #4DB8FF;
    clear: both;
    width: 80%;
}

#map_canvas{
    float: left;
    width: 51%;
    height: 400px;
    margin-top: 5px;
}

#projects {
    width: 32%;
    height: 400px;
    margin: 0 5px 0 0;
    font-size: 9pt;
}

#projects #tabs {
    height: 371px;
}

#proj {
    height: 325px;
    overflow: auto;
}

#proj a {
    font-weight: bold;
}

#proj .proj_desc {
    padding-bottom: 20px;
}

#bookmark{
    display: none;
}

#layers #sectors li {
    float: left;
    margin: 1px;
    padding-left:0px;
}

ul.drawers {
    width: auto;
    padding-bottom: 0;  
}

li.drawer {
    padding-bottom: 2px;
}

li.drawer div {
    color: #FFF;
    padding: 5px;
}

#project_search {
    padding: 5px;
    width: 15em;
}

#project_search span a {
    font-size: 9pt;
    color: #FFF;
    padding-left: 25px;
}

#project_search input {
    border-style: none;
    padding: 4px;
    margin-top: 7px;
}

#project_search .search_text {
    padding: 3px;
    font-size: 1em;
    color: #fff;
    background: #0099ff url('../img/search.gif') no-repeat scroll top left;
    width: 22px;
    padding: 1px 0 3px;
}

span.drawer-handle {
    font-size: 1em;
}

#footer {
    clear: both;
    font-size: 8pt;
    padding: 15px 0;
    margin-top: 10px;
    text-align: center;
}

li.layers_drawer div,
li.sector_drawer div,
li.implementor_drawer div {
    background: #007BD6 url('../img/collapsed.png') no-repeat scroll 98% 50%;
    width: auto;
}

table#projects th,
table#projects td {
    width: 20%;
    text-align: left;
}

.back_to_top {
    float: right;
}

/*ERRORS*/
.error {
    color: #FF0000;
    font-size: 9pt;
    padding: 5px;
}

ul.errorlist { 
	margin: 0; 
	padding: 0; 
} 
.errorlist li { 
	color: #FF0000; 
	font-size: 9pt;  
}

#id_groups {
    width:40em;
}

.flash_message_box {
    color: black;
    padding: 5px;
    overflow: hidden;
}

.flash_message,
#comment_message,
#publish_message {
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    float: right;
    margin-right: 23em;
    padding: 5px;    
}

.flash_message {
    background-color: #ECE5B6;
}

#comment_message {
    margin-right: 15em;
}

.delete_comment {
    float: right;
    padding: 5px;
    text-decoration: underline;
}

/*PROJECTS FOR REVIEW, MY PROJECTS*/
#projects_for_review,
#my_projects,
#change_password,
#login,
#user_registration,
#project_comments,
#add_project,
#admin_units {
    margin-left: 15px;
}

#my_project_list,
#project_list,
#admin_unit_list {
    border-collapse: collapse;
    width: 80%;
}

#my_project_list th,
#admin_unit_list th,
#project_list th {
    background-color: #007BD6;    
}

#my_project_list td,
#admin_unit_list td,
#project_list td {
    background-color: #E2EBF4;    
}

#my_project_list th,
#my_project_list td,
#admin_unit_list th,
#admin_unit_list td,
#project_list th,
#project_list td {
    padding: 5px;   
    border: 2px solid #FFF;
    text-align: center;
}

#project_list td a,
#admin_unit_list td a,
#my_project_list td a {
    color: #000;
}

#project_list td span,
#my_project_list td span,
#admin_unit_list td span,
#project_comments span.delete_comment {
    border-left: 1px solid;
    padding-left: 5px;
    text-decoration: underline;
    cursor: pointer;
}

#project_comments span.delete_comment {
    float: none;
    padding: 0 0 0 5px;
}

#project_comments span.publish_comment {
    padding-left: 5px;
    text-decoration: underline;
    cursor: pointer;
}

.ui-dialog .ui-dialog-titlebar,
.ui-dialog .ui-state-default, 
.ui-dialog .ui-widget-content .ui-state-default {
    background: none;
    background-color: #007BD6;
    color: #000;
}

/*REVIEW SUGGESTION*/
#review_suggestions .suggestion {
    background-color: #E2EBF4;
    padding: 5px;
    margin: 5px 5px 10px;
}

#review_suggestions .suggestion .comment_by {
    float: right;
    color: #0000FF;
    font-size: 0.8em;
}

#review_suggestions .unread_suggestion {
    background-color: #ECE5B6;
}

/*PROJECT COMMENTS*/
#comments{
    padding: 20px 20px 20px 0;
}

#comments div {
    overflow: hidden;
    background-color: #E2EBF4;
    margin-bottom: 5px;
}

#comments div input {
    float: left;
    width: 2em;
}

#project_details #comments div span.comment_text,
#add_project #comments div span.comment_text {
    padding: 1em 0 0 2em;
}

#comments div span.comment_text {
    float: left;
    width: 60em;
}

#comments .comment_metainfo {
    color: #0000FF;
    font-size: 9pt;
    clear: left;
    padding: 10px 0 0 30px;
}