h4 {
    margin-top: 0;
    margin-bottom: 0;
}

.toc ul {
    list-style-type: disc;
    overflow: hidden;
    padding-left: 5em;
    background-color: #E2EBF4;
    border: 1px solid #CCC;
    margin-bottom: 10px;
    font-size: 9pt;
    width: 62.5em;
}

.toc ul li {
    float: left;
    width: 19em;
}

.toc ul li a {
    color: #0000FF;
    text-decoration: underline;
}

#map_canvas {
    width: 350px;
    height: 275px;
    margin: 0 25px !important;    
}

.publish_div,
.review_div {
    margin: 5px;
    padding: 5px;    
}

.sub_div {
    padding: 10px 0 10px 10px;
}

#project_details {
    padding: 0 15px;
}

#left_pane {
    line-height: 1.5em;
}

#right_pane {
    float: right;
    margin: 0 0 5px 15px; 
    padding: 5px;
    border: 1px solid #CCC;
    width: 31%;
}

#project_description .sub_div p {
    margin-top: 0;
}

#image_pane {
    padding: 10px 0;
    margin: 0 25px;
    clear: both;
}

#project_image {
    height: 275px;
}

#photo_set {
    float: left;
    height: 275px;
    overflow: auto;
    width: 350px;
}

#photo_set .photo {
    float: left;
    width: 80px;
}

#project_image span img {
    width: 350px;
    height: 250px;
}

#video_pane {
    padding-top: 15px;
    overflow: hidden;
}

#video_pane #video_playlist {
    height: 385px;
    width: 145px;
    overflow-y: scroll;
    border: 1px solid #999999;
    padding-left: 5px;
}

#comment_link {
    text-decoration: underline;    
    cursor: pointer;
}

#resources .resource,
.proj_filterable_criteria,
.one_line_info {
    overflow: hidden;
}

.proj_filterable_criteria dl {
    width: 30em;
    height: 12em;
    overflow: auto;
    border: 1px solid #CCC;
    padding: 1px;
    margin: 0 10px 5px 0;
}

.proj_filterable_criteria dt {
    padding: 0.2em 0.2em 0.2em 1em;
    border-bottom: 1px solid #CCC;
    font-weight: bold;
}

.proj_filterable_criteria dt dd {
    margin: 0.3em 0 0 1em;
}

.resource_icon {
    display: block;
    height: 38px;
    width: 36px;
    float:left;
}

#resources .sub_div {
    float: left;
    padding: 8px 0 0 8px;    
}

#project_location,
#project_website,
#parent_project {
    width: 18em;
}

#back_to_main_map #nearby_projects {
    cursor: pointer;
    text-decoration: underline;
}

#back_to_main_map {
    font-size: 8pt;
    margin: 0 25px;
    padding: 5px 0;
}

#back_to_main_map #back_to_main_map_link {
    float: right;
}

.post_a_comment_link {
    clear: both;
    margin-top: 20px;    
}