#edit_project {
    background-color: green;
    color:white;
}

.youtube_playlist_player {
    width: 480px;
    height: 385px;
}

.highlight{
    text-align: center;
    background-color: yellow;
    color: black;
}