label {
    font-weight: bold;
}

.publish_div,
.review_div {
    margin: 5px;
    padding: 5px;    
}

.sub_div {
    padding: 10px 0 10px 20px;
}

#project_details {
    padding: 0 15px;
}

#left_pane {
    line-height: 1.5em;
    text-align: justify;
}

#right_pane {
    float: right;
    width: 43%;
    padding: 15px 0 10px 25px; 
}

#image_pane {
    padding: 30px 0;
    clear: right;
}

#project_image {
    float: left;
    width: 50%;
    height: 275px;
}

#photo_set {
    float: left;
    height: 275px;
    overflow: auto;
    width: 46%;
}

#photo_set .photo {
    float: left;
    width: 80px;
}

#project_image span img {
    width: 400px;
    height: 250px;
}


#comment_link {
    padding-top: 20px;
    text-decoration: underline;    
}

#resources .resource {
    overflow: hidden;
}

.resource_icon {
    display: block;
    height: 38px;
    width: 36px;
    float:left;
}

#resources .sub_div {
    float: left;
    padding: 8px 0 0 8px;    
}

#project_location {
    margin: 10px 0;
}

#project_location #nearby_projects {
    margin-left: 50px;
    cursor: pointer;
}

#back_to_main_map {
    margin: 5px 0;
    padding: 5px 0;
}

.post_a_comment_link {
    clear: both;
}