{% extends "base.html" %}
{% load i18n %}

{% block title_extra %} &mdash; Add Administrative Unit {% endblock %}
{% block extrahead %}
<script type="text/javascript" src="{{ mootools }}"></script>
<script src="{{ jquery }}" type="text/javascript"></script>
<link rel="stylesheet" href="{{ jquery_plugins_url }}/jquery.autocomplete.css" type="text/css" />
<script type="text/javascript" src="{{ jquery_plugins_url }}/jquery.autocomplete.min.js"></script>
<script type="text/javascript" src="{{ tinymce_url }}"></script>
<script type="text/javascript">
$(document).ready(function(){
	$(".togglefield").click(function(){
		var id_name = this.id.substring(3);
		if($(this).attr("show") == "true"){
			$(this).html("[+]");
			$("#"+id_name).hide();
			$(this).attr("show", "false");
		}else{
			$(this).html("[-]");
			$("#"+id_name).show();
			$(this).attr("show", true);
		}
	});	
});

</script>
{% endblock %}
{% block page_content %}
<div id="add_admin_unit">
<form action="/{{action}}/" method="post">
	<fieldset>
    	<legend><span>Administrative Details</span></legend>				
			<div>
				<label for="id_name">Region Name:</label> 
				{{form.name}}
				{{ form.name.errors }}
			</div>
			<div class="clearleft">
				<label for="id_country">Country:</label> 
                {{ form.country }}
				{{ form.country.errors }}
			</div>
			<div>
				<label for="id_region_type">Region type:</label> 
				{{ form.region_type }}
				{{ form.region_type.errors }}
			</div>
			<div class="details_div">
				<a class="togglefield" id="id-health" show="hide">[+]</a>							
				<label for="id_health">Health:</label>
				<div id="health" style="display:none">{{ form.health}}</div>
				{{ form.health.errors}}				
			</div>
			
			<div class="details_div">
				<a class="togglefield" id="id-economy" show="hide">[+]</a>			
				<label for="id_economy">Economy:</label>
				<div id="economy" style="display:none">{{ form.economy}}</div>
				{{ form.economy.errors}}
			</div>
			
			<div class="details_div">
				<a class="togglefield" id="id-environment" show="hide">[+]</a>			
				<label for="id_environment">Environment:</label>
				<div id="environment" style="display:none">{{ form.environment}}</div>
				{{ form.environment.errors}}
			</div>
			
			<div class="details_div">
				<a class="togglefield" id="id-governance" show="hide">[+]</a>			
				<label for="id_governance">Governance:</label>
				<div id="governance" style="display:none">{{ form.governance}}</div>
				{{ form.governance.errors}}
			</div>
			
			<div class="details_div">
				<a class="togglefield" id="id-infrastructure" show="hide">[+]</a>			
				<label for="id_infrastructure">Infrastructure:</label>
				<div id="infrastructure" style="display:none">{{ form.infrastructure}}</div>
				{{ form.infrastructure.errors}}
			</div>
			
			<div class="details_div">
				<a class="togglefield" id="id-social_sector" show="hide">[+]</a>			
				<label for="id_social_sector">Social Sector:</label>
				<div id="social_sector" style="display:none">{{ form.social_sector}}</div>
				{{ form.social_sector.errors}}
			</div>
			
			<div class="details_div">
				<a class="togglefield" id="id-agriculture" show="hide">[+]</a>			
				<label for="id_agriculture">Agriculture:</label>
				<div id="agriculture" style="display:none">{{ form.agriculture}}</div>
				{{ form.agriculture.errors}}
			</div>
			
			<div class="details_div">
				<a class="togglefield" id="id-dev_partners" show="hide">[+]</a>			
				<label for="id_dev_partners">Dev Partners:</label>
				<div id="dev_partners" style="display:none">{{ form.dev_partners}}</div>
				{{ form.dev_partners.errors}}
			</div>
			
			<div class="details_div">
				<a class="togglefield" id="id-recent_reports" show="hide">[+]</a>			
				<label for="id_recent_reports">Recent Reports:</label>
				<div id="recent_reports" style="display:none">{{ form.recent_reports}}</div>
				{{ form.recent_reports.errors}}
			</div>
			
			<div class="details_div">
				<a class="togglefield" id="id-resources" show="hide">[+]</a>			
				<label for="id_resources">Resources:</label>
				<div id="resources" style="display:none">{{ form.resources}}</div>
				{{ form.resources.errors}}
			</div>
		</fieldset>
        <div class="main_action">
            <input type="submit" value="Save" />
        </div>
</form>
</div>
{% endblock %}
