{% extends "base.html" %}
{% load i18n %}

{% block title_extra %} &mdash; Add Administrative Unit {% endblock %}
{% block extrahead %}
<script type="text/javascript" src="{{ mootools }}"></script>
<script src="{{ jquery }}" type="text/javascript"></script>
<link rel="stylesheet" href="{{ jquery_plugins_url }}/jquery.autocomplete.css" type="text/css" />
<script type="text/javascript" src="{{ jquery_plugins_url }}/jquery.autocomplete.min.js"></script>
<script type="text/javascript" src="{{ tinymce_url }}"></script>
{% endblock %}
{% block page_content %}

<form action="/{{action}}/" method="post">
                   <fieldset>
                        <legend><span>Administrative Details</span></legend>				
			<div>
				{{ form.name.errors }}
				<label for="id_name">Region Name:</label> 
				{{form.name}}
			</div>
			<div>
				{{ form.country.errors }}
				<label for="id_country">Country:</label> 
                                {{ form.country }}
			</div>
			<div>
				{{ form.region_type.errors }}
				<label for="id_region_type">Region type:</label> 
				{{ form.region_type }}
			</div>
			<div>
				{{ form.region_statistics.errors }}
				<label for="id_statistical_data">Statistical Data:</label> 
				{{ form.region_statistics }}
			</div>
                </fieldset>
                <div class="main_action">
                    <input type="submit" value="Save" />
                </div>
        </form>
{% endblock %}
