{% extends "base.html" %}
{% load i18n %}
{% load project_tags %}

{% block title_extra %} &mdash; {{title}}{% endblock %}

{% block extrahead %}
        <link rel="stylesheet" href="{{ css_url }}/add_project.css" type="text/css" />
        <script type="text/javascript" src="{{ mootools }}"></script>
        <script type="text/javascript" src="{{ jquery }}"></script>
		<script type="text/javascript" src="{{ openlayers }}"></script>
        <script type="text/javascript" src="{{ fancyuploader }}/Swiff.Uploader.js"></script>
        <script type="text/javascript" src="{{ fancyuploader }}/Fx.ProgressBar.js"></script>
        <script type="text/javascript" src="{{ fancyuploader }}/FancyUpload3.Attach.js"></script>
        <script type="text/javascript" src="{{ tinymce_url }}"></script>
		<script type="text/javascript">
			jQuery.noConflict();
			var project_id = "{{project.id}}";
			var fancy_uploader_swf = "{{ fancyuploader_swf }}";
			var link_id = 0;
			var video_id = 1;
			var sectors = "{{sectors}}";
			var implementors = "{{implementors}}";
			var project_links = '{% project_links title_and_values %}';
			jQuery(document).ready(function(){
				Fx.ProgressBar.prototype.options.url = "/static/img/bar.gif";
			});
		</script>

        <script type="text/javascript" src="{{ js_url }}/add_project.js"></script>
        <script type="text/javascript" src="{{ js_url }}/fileupload.js"></script>
{% endblock %}

{% block page_content %}
	<div id="add_project">
		<form action="/{{action}}" method="post">
			<input type="hidden" name="project_id" value="{{project.id}}"></input>
			<fieldset>
				<legend><span>Description</span></legend>
				<div class="first_div">
					<label for="id_name">Name</label> 
					{{form.name}}
					{{ form.name.errors }}
				</div>

                                {% sub_project_header parent_project %}					
				
				<div class="clearleft">
					<label for="id_description">Description</label> 
					{{form.description}}
					{{ form.description.errors }}					
				</div>
			</fieldset>
			<div class="location_info">
				<fieldset>
					<legend><span>Location</span></legend>
					<div class="first_div">
						<label for="id_latitude">Latitude</label> 
						{{ form.latitude }}
						<div class="help_text">Click on the map to set latitude and longitude</div>						
						{{ form.latitude.errors }}					
					</div>
					<div class="clearleft">				
						<label for="id_longitude">Longitude</label> 
						{{ form.longitude }}
						{{ form.longitude.errors }}					
					</div>
					<div class="clearleft">				
						<label for="id_location">Location</label> 
						{{ form.location }}
						<div class="help_text">(eg., Ekami, Congo)</div>
						{{ form.location.errors}}					
					</div>
				</fieldset>	
				<div id="map_wrapper">
					<div id="map" class="smallmap"></div>				
				</div>
			</div>
			<fieldset>
				<legend><span>Media</span></legend>				
				<a class="back_to_top" href="#add_project">Back to top</a>								
				<div class="first_div">
					<label for="id_website_url">Project Website</label> 
					{{ form.website_url }}
					{{ form.website_url.errors}}					
				</div>	
				<div class="proj_img clearleft">
					<label for="id_project_image">Project image</label> 
					
					{% project_image project %}
				<!--	<a href="#" id="photo-attach" class="photo-attach" name="photo-attach">Attach a file</a> -->
					<ul id="photo-list"></ul>
					
				</div>
				{% video_url_tag video_urls %}
				<div id="add_video_link" class="clearleft"><span id="add_video">Add another video</span></div>
				<div class="clearleft">
					<label for="id_imageset_feedurl">Photo feed URL</label> 
					{{ form.imageset_feedurl }}
					{{ form.imageset_feedurl.errors }}					
				</div>
			</fieldset>	
			<fieldset>
				<legend><span>Sector, Implementor and Tags</span></legend>	
				<a class="back_to_top" href="#add_project">Back to top</a>											
				<div class="floatleft">
				<div class="first_div">
					<label for="id_project_sectors">Sectors</label> 
					{{ form.project_sectors }} 
					{{ form.project_sectors.errors}}					
				</div>
				<div class="clearleft">
					<label for="id_project_implementors">Implementors</label> 
					{{ form.project_implementors }}
					<div id="implementor_examples"></div>
					{{ form.project_implementors.errors}}					
				</div>
				<div id="project-tags" class="clearleft">
					<label for="id_project_tags">Tags</label> 
					{{ form.tags }}
					<div class="help_text">separate tags with a space</div>
				</div>
				</div>
				<div id="help_text" class="help_text">
				</div>
			</fieldset>
			<fieldset>
				<legend><span>Resources</span></legend>				
				<a class="back_to_top" href="#add_project">Back to top</a>								
				<div id="file" class="first_div">
					{% file_list resources %}
					<a href="#file" class="file-attach" name="file-attach">Attach a file</a>
					<ul id="file-list"></ul><a href="#" class="file-attach-2" style="display: none;" name="file-attach-2">Attach another file</a>
				</div>
				<div id="project-links"></div>
				<a href="#add_link" id="add_link">Add another link</a>
			</fieldset>
			
			{% if publishable %}
			<div id="publish_project">
				<input type="checkbox" name="publish_project" {{checked}} />
				<span>Publish this project</span>
			</div>
			{% endif %}
			<div class="main_action">
				<input type="submit" value="{{submit_label}}" />
			</div>
		</form>
		
		<div id="comments">{% project_comments project mode %}</div>
	</div>	
{% endblock %}
