{% extends "base.html" %}
{% load i18n %}
{% load project_tags %}

{% block title_extra %} &mdash; Add Project{% endblock %}
{% block stylesheet %}{{ css_url }}/add_project.css{% endblock %}

{% block extrahead %}
        <link rel="stylesheet" href="{{ css_url }}/main.css" type="text/css" />
		<script type="text/javascript" src="{{ mootools }}"></script>
		<script src="{{ jquery }}" type="text/javascript"></script>
		<link rel="stylesheet" href="{{ jquery_plugins_url }}/jquery.autocomplete.css" type="text/css" />
		<script type="text/javascript" src="{{ jquery_plugins_url }}/jquery.autocomplete.min.js"></script>
        <script type="text/javascript" src="{{ fancyuploader }}/Swiff.Uploader.js"></script>
        <script type="text/javascript" src="{{ fancyuploader }}/Fx.ProgressBar.js"></script>
        <script type="text/javascript" src="{{ fancyuploader }}/FancyUpload3.Attach.js"></script>

		<script type="text/javascript">
			jQuery.noConflict();
			var project_id = {{project_id}};
			var fancy_uploader_swf = "{{ fancyuploader_swf }}";
			var link_id = 0;
			jQuery(document).ready(function(){
				var sector_names = "{{sectors}}".split(", ");
				jQuery("#id_project_sectors").autocomplete(sector_names, {
					multiple: true,
					autoFill: true
				});
				
				var implementor_names = "{{implementors}}".split(", ");
				jQuery("#id_project_implementors").autocomplete(implementor_names, {
					multiple: true, 
					autoFill: true
				});

				
				function add_link(){
					link_id +=1;
					var title_label_tag = "<label>Title: </label>";
					var title_tag = "<input type=\"text\" name=\"link_title\"></input>";
					var url_label_tag = "<label>Url: </label>";
					var url_tag = "<input type=\"text\" name=\"link_url\"></input>";
					var div_tag = "<div id=\"link_" + link_id + "\">" + title_label_tag + title_tag + url_label_tag + url_tag + "</div>";
					jQuery("#project-links").append(div_tag);
				}
				
				jQuery("#project-links").html('{% project_links title_and_values %}');
				
				jQuery("#add_link").click(add_link);
				
				jQuery('.file-remove-edit').click(function(){
					var filename = jQuery(this).prev().prev().html();
					jQuery.get("/remove_attachment/", {'project_id' : project_id, 'file-name' : filename});
					jQuery(this).parent().remove();
					return false;
				});
				
			});
		</script>

        <script type="text/javascript" src="{{ js_url }}/fileupload.js"></script>
{% endblock %}

{% block page_content %}

		<form action="/{{action}}/" method="post">
			<p>
				<input type="hidden" name="project_id" value="{{project_id}}"></input>
			</p>
			<p>
				{{ form.name.errors }}
				<label for="id_name">Name:</label> 
				{{form.name}}
			</p>
			<p>
				{{ form.description.errors }}
				<label for="id_description">Description:</label> 
				{{form.description}}
			</p>
			<p>
				{{ form.latitude.errors }}
				<label for="id_latitude">Latitude:</label> 
				{{ form.latitude }}
			</p>
			<p>
				{{ form.longitude.errors }}
				<label for="id_longitude">Longitude:</label> 
				{{ form.longitude }}
			</p>
			<p>
				{{ form.location.errors}}
				<label for="id_location">Location:</label> 
				{{ form.location }}
			</p>
			<p>
				{{ form.website_url.errors}}
				<label for="id_website_url">Website url:</label> 
				{{ form.website_url }}
			</p>
			<p>
				{{ form.project_image.errors}}
				<label for="id_project_image">Project image:</label> 
				{{ form.project_image }}
			</p>
			<p>
				{{ form.project_sectors.errors}}
				<label for="id_project_sectors">Sectors: </label> 
				{{ form.project_sectors }} 
				<label>(Eg : {{sectors}})</label>
			</p>	
			<p>
				{{ form.project_implementors.errors}}
				<label for="id_project_implementors">Implementors: </label> 
				{{ form.project_implementors }}
				<label>(Eg : {{implementors}})</label>
			</p>
			
			<p>
				{{ form.youtube_playlist_id.errors }}
				<label for="id_youtube_playlist_id">Youtube playlist: </label> 
				{{ form.youtube_playlist_id }}
			</p>	
			
			<p>
				{{ form.imageset_feedurl.errors }}
				<label for="id_imageset_feedurl">Image set feed url: </label> 
				{{ form.imageset_feedurl }}
			</p>
			<p>
				<div id="file">
					{% file_list resources %}
					<a href="#" id="file-attach" name="file-attach">Attach a file</a>
					<ul id="file-list"></ul><a href="#" id="file-attach-2" style="display: none;" name="file-attach-2">Attach another file</a>
				</div>
			</p>
			<p>
				<div id="project-links"></div>
				<a href="#" id="add_link">Add another link</a>
			</p>
			
			<p>
				<div id="project-tags"></div>
				<label for="id_project_tags">Project tags: </label> 
				{{ form.tags }}
				<br/> Space separated tags
			</p>			
			<br/><br/>
			<input type="submit" value="Submit" />
		</form>
{% endblock %}