{% extends "base.html" %}
{% load i18n %}
{% load project_tags %}

{% block title_extra %} Administrative Units {% endblock %}
{% block extrahead %}
        <script src="{{ jquery }}" type="text/javascript"></script>
        <link rel="stylesheet" href="{{ css_url }}/projects_for_review.css" type="text/css" />
        <link type="text/css" href="{{ css_url }}/dialog.css" rel="stylesheet" />
        
        <script type="text/javascript" src="{{ jqueryui }}"></script>
        
        <script type="text/javascript">
                var admin_unit_id;
                var delete_url;
                var delete_tr;
        </script>
		
        <script type="text/javascript" src="{{ js_url }}/admin_units.js"></script>				
{% endblock %}

{% block page_content %}
	<div id="admin_units">
		<h2>Administrative Units: </h2>
		<table id="admin_unit_list">
                <tbody>
                  <tr>
                  <th>Region Name</th>
                  <th>Region Type</th>
                  <th>Country</th>
                  <th>Action</th>
              </tr>
              {% for unit in admin_units %}
                  <tr id="admin_unit_{{unit.id}}">
                     <td>{{ unit.name }}</td>
                     <td>{{ unit.region_type }}</td>
                     <td>{{ unit.country }}</td>
                     <td>
                        <span class="first"><a href="/edit_admin_unit/{{unit.id}}/">Edit</a></span>
                        <span class="delete_link" id="delete_{{unit.id}}">Delete</span>
                     </td>
                 </tr>
                  {% endfor %}
              </tbody>
		</table>
	</div>
	<div id="delete_dialog" title="Delete Admin Unit !">
		<p>Are you Sure you want to delete this Admin Unit ?</p>
	</div>
{% endblock %}
