<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="{{ LANGUAGE_CODE }}" xml:lang="{{ LANGUAGE_CODE }}" {% if LANGUAGE_BIDI %}dir="rtl"{% endif %}>
<head>
<meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
<title>{% block title %}UNICEF Maps{% block title_extra %}{% endblock %}{% endblock %}</title>
<link rel="stylesheet" type="text/css" href="{% block stylesheet %}{{ css_url }}/main.css{% endblock %}" />
<script src="{{ js_url }}/json2.js" type="text/javascript" ></script>
{% block extrastyle %}{% endblock %}
{% block extrahead %}{% endblock %}
</head>
{% load i18n %}
{% load project_tags %}

<body class="{% block bodyclass %}{% endblock %}{% block body_tag_extra %}{% endblock %}">
    <div class="main_wrapper">
        {% block page_header %}
        <div id="header">
	        <div class="header_innertube">
	            <div id="unicef_logo" class="floatleft">
	            	<a href="#">
	            		<img src="{{ img_url }}/unicef_logo.gif" />
	            	</a>
	            </div>
	            <div id="main_nav" class="ten_pt_text">
	            	<ul>
						<li class="first"><a href="/">Home</a></li>
						{% if user.is_authenticated %}
							<li><a href='{% url django.contrib.auth.views.logout %}'>Logout</a></li>
							<li>{% add_project_link user %}</li>
				        {% else %}
				        	<li><a href='{% url django.contrib.auth.views.login %}'>Login</a>
				        {% endif %}
					</ul>
	            </div>
	        </div>    
        </div>
        {% endblock %}
		<div id="main_content">
        	{% block page_content %}{% endblock %}
	        {% block page_footer %}
	        <div id="footer">
	        	Unicef 2009 : All rights reserved
	        </div>
	        {% endblock %}
    	</div>
	</div>
</body>
</html>
