{% extends "base.html" %}
{% load i18n %}
{% load project_tags %}

{% block title_extra %} &mdash; Home{% endblock %}
	
{% block extrahead %}
<script type="text/javascript">
	var left = {{left}};
	var right = {{right}};
	var bottom = {{bottom}};
	var top = {{top}};
	var search_tag = '';
	{% if tag %}
	  search_tag = '{{ tag }}';
	{% endif %}
	

</script>
<link rel="stylesheet" href="/static/css/jquerystart/jquery-ui-1.7.2.custom.css" type="text/css" media="all" />
<script src="{{ jquery }}" type="text/javascript"></script>
<script src="{{ openlayers }}" type="text/javascript"></script>
<script src="/static/js/openlayers/Popup.js" type="text/javascript" ></script>
<script src="{{ js_url }}/homepage.js" type="text/javascript" ></script>
<script src="{{ js_url }}/projects_search.js" type="text/javascript" ></script>
<script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.7.2/jquery-ui.min.js" type="text/javascript"></script>
{% endblock %}
		
{% block page_content %}
<div id="main_pane">
	<div id="filterable_criteria">
		<ul class="drawers">
		    <li class="drawer sector_drawer">
	             <div class="round_corner expanded">
					<span class="drawer-handle open" id="sector">Projects</span>
				</div>
			</li>
			<ul class="sectors round_corner">
				<li>Sectors</li>
				{% for sector in sectors %}
				<li>
					<input type="checkbox" name="sector_{{sector.id}}" value="{{sector.name}}" class="sectorbox" />
					<label title="{{sector.name}}">{% truncate_and_ellipsise sector.name %}</label>
				</li>
				{% endfor %}
				<li>Implementors</li>
				{% for implementor in implementors %}
				<li>
					<input type="checkbox" name="implementor_{{implementor.id}}" value="{{implementor.name}}" class="implementorbox" />
					<label title="{{implementor.name}}">{% truncate_and_ellipsise implementor.name %}</label>
				</li>
				{% endfor %}
			</ul>
	        
			<li class="drawer overlay_drawer">
	        	<div class="round_corner">
	            	<span class="drawer-handle" id="overlay">Overlays</span>
				</div>
			</li>
			<ul class="overlays round_corner">
				{% for kml_layer in kml_layers %}
					<li>
						<input type="checkbox" name="kml_{{kml_layer.id}}" value="{{kml_layer.id}}" class="overlaybox" />
						<label title="{{kml_layer.name}}">{% truncate_and_ellipsise kml_layer.name %}</label>
						<span id='kml_{{kml_layer.id}}' class="kml_file">{{kml_layer.filename}}</span>
					</li>
				{% endfor %}
			</ul>
		</ul>
	</div>
	<div id="layercontrols" style="display:none">
		<ul class="drawers">
			<li class="drawer sector_drawer">
				<div class="round_corner">
					<span class="drawer-handle" id="layers">Layers</span>
				</div>
			</li>
			<ul class"layers round_corner" id="layerholder">
			</ul>
		</ul>
	</div>
	<div id="map_canvas"></div>
	{% autoescape off %}
		<div id="projects" class="floatright">
			<div id="tabs">
				<ul>
					<li><a id="proj-id" href="#proj">List of Projects</a></li>
					<li><a id="stats-id" href="#stats">Region Statistics</a></li>
				</ul>
				<div id="proj"></div>
				<div id="stats">Click on the map to know about the administrative boundary details about the region.</div>
			</div>
		</div>
    {% endautoescape %}
    <div id="bookmark">
    </div>
</div>
{% endblock %}
