{% extends "base.html" %}
{% load i18n %}
{% load project_tags %}

{% block title_extra %} &mdash; Home{% endblock %}
	
{% block extrahead %}
<script type="text/javascript">
	var left = {{left}};
	var right = {{right}};
	var bottom = {{bottom}};
	var top = {{top}};
	var search_tag = '';
	{% if tag %}
	  search_tag = '{{ tag }}';
	{% endif %}
</script>
<link rel="stylesheet" href="/static/css/jquerystart/jquery-ui-1.7.2.custom.css" type="text/css" media="all" />
<script src="{{ jquery }}" type="text/javascript"></script>
<script src="{{ openlayers }}" type="text/javascript"></script>
<script src="/static/js/openlayers/Popup.js" type="text/javascript" ></script>
<script src="{{ bing_js }}"></script>
<script src="{{ js_url }}/homepage.js" type="text/javascript" ></script>
<script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.7.2/jquery-ui.min.js" type="text/javascript"></script>
{% endblock %}
		
{% block page_content %}
<div id="explore_nav">
	
</div>
<div id="main_pane">
	<div id="filterable_criteria">
		<ul class="drawers">
		    <li class="drawer sector_drawer">
	             <div class="round_corner">
					<span class="drawer-handle" id="sector">Sectors</span>
				</div>
			</li>
			<ul class="sectors round_corner">
				{% for sector in sectors %}
				<li>
					<input type="checkbox" name="sector_{{sector.id}}" value="{{sector.name}}" class="sectorbox" />
					<label title="{{sector.name}}">{% truncate_and_ellipsise sector.name %}</label>
				</li>
				{% endfor %}
			</ul>
	        <li class="drawer implementor_drawer">
	        	<div class="round_corner">
	            	<span class="drawer-handle" id="implementor">Implementors</span>
				</div>
			</li>
			<ul class="implementors round_corner">
				{% for implementor in implementors %}
				<li>
					<input type="checkbox" name="implementor_{{implementor.id}}" value="{{implementor.name}}" class="implementorbox" />
					<label title="{{implementor.name}}">{% truncate_and_ellipsise implementor.name %}</label> <br/>
				</li>
				{% endfor %}
			</ul>
		</ul>
	</div>
	<div id="map_canvas"></div>
	{% autoescape off %}
		<div id="projects" class="floatright">
			<div id="tabs">
				<ul>
					<li><a id="proj-id" href="#proj">List of Projects</a></li>
					<li><a id="stats-id" href="#stats">Region Statistics</a></li>
				</ul>
				<div id="proj"></div>
				<div id="stats"></div>
			</div>
		</div>
    {% endautoescape %}
    <div id="bookmark">
    </div>
</div>
{% endblock %}
