{% extends "base.html" %}
{% load i18n %}
{% load project_tags %}

{% block title_extra %} My Projects {% endblock %}
{% block extrahead %}
        <link rel="stylesheet" href="{{ css_url }}/main.css" type="text/css" />
		<link type="text/css" href="{{ css_url }}/dialog.css" rel="stylesheet" />l

		<script src="{{ jquery }}" type="text/javascript"></script>
		<script type="text/javascript" src="{{ jqueryui }}"></script>
		
		
		
		
		<script type="text/javascript">
			function update_project(project){
				var review_status = "";
				var result = "<td>"+ project.name +"</td>";
				result += "<td>"+ project.status +"</td>";
				result += "<td><a href=\"/edit_project/" + project.id +"/\">Edit</a></td>";

				if(project.authorized){
					if(project.status == "Published")
				        result += "<td><span class=\"unpublish_link first\" id=\"" + project.id + "\">Unpublish</span></td>";
				    else
				        result += "<td><span class=\"publish_link first\" id=\"" + project.id + "\">Publish</span></td>";
				}
			    var tr_id = "#project_" + project.id;
				$(tr_id).html(result);
			}
		
			jQuery(document).ready(function(){
				$(".ui-dialog-titlebar-close").html("X");
				$(".ui-dialog-titlebar-close").css("color", "#0C7094");
				
				
				$('.publish_link').click(function(){
					var url = "/projects/publish/" + this.id +"/";
					$.get(url, function(data){
						var project = JSON.parse(data);
						update_project(project);
					});	
				});

				$('.unpublish_link').click(function(){
					var url = "/projects/unpublish/" + this.id +"/";
					$.get(url, function(data){
						var project = JSON.parse(data);
						update_project(project);
					});	
				});
				
				$('.changes_preview').click(function(){
					var project_id = (this.id).split("_")[1];
					var url = "/projects/review_suggestions/" + project_id + "/";
					$.get(url, function(data){
						
						$('#dialog').html(data);
						$('#dialog').dialog('open');
					});

				});
				
				
				$("#dialog").dialog({
					bgiframe: true,
					autoOpen: false,
					height: 300,
					width: 400,
					modal: true,
					buttons: {
						Close: function() {
							$(this).dialog('close');
						}
					},
					close: function() {
						$("#project_feedback input[type=\"hidden\"]").remove();
						if($(".error")){
							$(".error").remove();
						}
					}
				});
				
				

			});
		</script>
		
		
{% endblock %}

{% block page_content %}
	<div id="my_projects">
		<h2>My Projects: </h2>
		<table id="my_project_list">
		{% my_projects_header user %}
		{% for project in projects %}
			{% my_project project user %}
		{% endfor %}
		</table>
	</div>
	
	
	<div id="dialog" title="Review Suggestions"></div>
	
{% endblock %}