{% extends "base.html" %}
{% load i18n %}
{% load project_tags %}

{% block title_extra %} My Projects {% endblock %}
{% block extrahead %}
        <link rel="stylesheet" href="{{ css_url }}/main.css" type="text/css" />
		<script src="{{ jquery }}" type="text/javascript"></script>
		<script type="text/javascript">
			function update_project(project){
				var review_status = "";
				var result = "<td>"+ project.name +"</td>";
				result += "<td>"+ project.status +"</td>";
				result += "<td><a href=\"/edit_project/" + project.id +"/\">Edit</a></td>";

				if(project.authorized){
					if(project.status == "Published")
				        result += "<td><span class=\"unpublish_link\" id=\"" + project.id + "\">Unpublish</span></td>";
				    else
				        result += "<td><span class=\"publish_link\" id=\"" + project.id + "\">Publish</span></td>";
				}
			    var tr_id = "#project_" + project.id;
				$(tr_id).html(result);
			}
		
			jQuery(document).ready(function(){
				$('.publish_link').click(function(){
					var url = "/projects/publish/" + this.id +"/";
					$.get(url, function(data){
						var project = JSON.parse(data);
						update_project(project);
					});	
				});

				$('.unpublish_link').click(function(){
					var url = "/projects/unpublish/" + this.id +"/";
					$.get(url, function(data){
						var project = JSON.parse(data);
						update_project(project);
					});	
				});

			});
		</script>
		
		
{% endblock %}

{% block page_content %}
	<h2>My Projects: </h2>
	<table id="projects">
	{% my_projects_header user %}
	{% for project in projects %}
		{% my_project project user %}
	{% endfor %}
	</table>
{% endblock %}