{% extends "base.html" %}
{% load i18n %}
{% load project_tags %}

{% block title_extra %} My Projects {% endblock %}
{% block extrahead %}
		<link rel="stylesheet" href="{{ css_url }}/projects_for_review.css" type="text/css" />
		<link type="text/css" href="{{ css_url }}/dialog.css" rel="stylesheet" />
		
		<script src="{{ jquery }}" type="text/javascript"></script>
		<script type="text/javascript" src="{{ jqueryui }}"></script>
		
 		<script type="text/javascript">
			var project_id;
			var delete_url;
			var delete_tr;
		</script>
		
        <script type="text/javascript" src="{{ js_url }}/projects_for_review.js"></script>				
{% endblock %}

{% block page_content %}
	<div id="projects_for_review">
	<h2>Projects for Review: </h2>
	{% if projects %}
		<table id="project_list">
		<tr>
			<th>Project title</th>
			<th>Created by</th>
			<th>Action</th>
		</tr>
		{% for project in projects %}
			<tr id="project_{{project.id}}">
				<td><a href="/projects/id/{{project.id}}/">{{project.name}}</a></td>
				<td>{{project.created_by}}</td>
				<td>
					<span class="first"><a href="/edit_project/{{project.id}}/">Edit</a></span>
					<span class="review_suggestions" id="review_{{project.id}}">Provide Feedback</span>
					<span class="publish_link" id="publish_{{project.id}}">Publish</span>
					<span class="reject_link" id="reject_{{project.id}}">Reject</span>
					<span class="delete_link" id="delete_{{project.id}}">Delete</span>
				</td>
			</tr>
		{% endfor %}
		</table>
	{% else %}
		<div>No projects to review</div>
	{% endif %}
	<div id="dialog" title="Review Suggestions">
		<form id="project_feedback">
			<textarea rows="8" cols="35" name="feedback" id="feedback"></textarea>
		</form>
	</div>
	
	<div id="delete_dialog" title="Delete Project !">
		<p>Are you Sure you want to delete this project ?</p>
	</div>

	
{% endblock %}