{% extends "base.html" %}
{% load i18n %}
{% load project_tags %}

{% block title_extra %} &mdash; {{ project.name }}{% endblock %}
 
{% block extrastyle %}
<link rel="stylesheet" type="text/css" href="{{ css_url }}/project.css" />
<link type="text/css" href="{{ css_url }}/dialog.css" rel="stylesheet" />

{% endblock %}

{% block extrahead %}
	<script type="text/javascript">
		var latitude = {{ project.latitude }};
		var longitude = {{ project.longitude }};
		var imgurl = "{{ img_url }}";
		var projects = new Array();
		{% for subproject in subprojects %}
		projects.push({'latitude' : {{ subproject.latitude }}, 'longitude' : {{ subproject.longitude}}});
		{% endfor %}

	</script>
	<script src="{{ jquery }}" type="text/javascript"></script>
	<script type="text/javascript" src="{{ jqueryui }}"></script>
	<script src="{{ openlayers }}" type="text/javascript"></script>
	<script src="/static/js/jquery-lightbox/js/jquery.lightbox-0.5.js" type="text/javascript"></script>
	<link rel="stylesheet" type="text/css" href="/static/js/jquery-lightbox/css/jquery.lightbox-0.5.css" media="screen" />
	<script src="{{ js_url }}/projectpage.js" type="text/javascript" ></script>
{% endblock %} 

{% block body_tag_exta %}onload='initialize()'{% endblock %}
{% block page_content %}
				{% flash_message request %}
				{% edit_project_link project user %}
				{% add_sub_project_link project user %}
				{% admin_links project user %}
				<div class="flash_message_box"><div id="publish_message"></div></div>
				<div id="project_details">
					<h2>{{project.name}}</h2>
                    <div id="project_implementors">
						{% if project.implementor_set %}
							<label>Project Implementors : </label>
							<div class="sub_div">{{implementors}}</div>
						{% endif %}
					</div>
					<div id="main_pane">
						<div id="right_pane">
							<div id="map_canvas" class="olMap" style="width: 460px; height:256px; border=1px solid #CCCCCC"></div>
						</div>
													
						<div id="left_pane">
							<div id="project description">
								<label>Description: </label>
								{% autoescape off %} 
	                            <div class="sub_div">{{project.description}}</div>
	                            {% endautoescape %} 
							</div>
					
							<div id="project location">
								<label>Location: </label>
								<span>{{project.location}}</span>
	                        </div>

	                        <div id="project_website">
	                            <label>Project WebSite: </label>
	                            <span><a href="{{project.website_url}}">{{project.name}} home page</a></span>
	                        </div>
                       
	                        <div id="parent_project">
	                          {% if project.parent_project %}
	                            <label>Main Project : </label>
	                            <span><a href="/projects/id/{{project.parent_project.id}}/">{{project.parent_project.name}}</a></span>
	                          {% endif %}
	                        </div>
                       
	                        <div id="subprojects">
	                          {% if subprojects %}
	                            <label>Sub Projects : </label>
	                            {% for subproject in subprojects %}
	                              <div class="sub_div"><a href="/projects/id/{{subproject.id}}/">{{subproject.name}}</a></div>
	                            {% endfor %}
	                          {% endif %}
	                        </div>
							
							{% if links %}
								<div id="project links">
									<label>Links : </label>
									{% for link in links %}
										<div class="sub_div"><a href="{{link.url}}">{{link.title}}</a></div>
									{% endfor %}
								</div>	
							{% endif %}
							
							{% if tags %}
								<div id="tags">
									{% for tag in tags %}
									  <div class="sub_div"><a href="/projects/tag/{{tag}}" alt="{{tag}}" title="{{tag}}">{{tag}}</a></div>
									{%endfor%}
								</div>
							{% endif %}                
						</div>
					</div>
						
					<div id="image_pane">
                                            <div id="project_image">
                                                <div>Project Image</div>
                                                <span><img alt={{project.name}} src="{{project.project_image}}"/></span>
                                            </div>

                                            <div id="photo_set">
                                                {% parse_img_rss_feed %}
                                                {% include 'photo_gallery.html' %}
                                            </div>
					</div>
					
					{% project_video project %}
					
					<!-- {% if youtube_playlist_id %}
                  	<div  id="project_video">
                    	{% youtube_playlist_player youtube_playlist_id %}
                  	</div>				
					{% endif %} -->
					<div id="comment_link"><label>Post a comment</label></div>
					<div class="flash_message_box"><div id="comment_message"></div></div>

					<div id="published_comment" title="Comments">
						<form id="comment_form">
							<div class="sub_div">
								<label for="id_username">Name: </label>
								<input name="username" id="id_username"></input>
							</div>
							<div class="sub_div">						
								<label for="id_email">Email: </label>
								<input name="email" id="id_email"></input>
							</div>

							<div class="sub_div">						
								<label for="id_text">Comment: </label>
								<textarea rows="8" cols="35" name="text" id="id_text"></textarea>
							</div>
							<input type="hidden" name="project_id" value="{{project.id}}" id="comment_project_id"> 
						</form>
					</div>

					<div id="comments">{% project_comments project %}</div>
				</div>
{% endblock %}

