{% extends "base.html" %}
{% load i18n %}
{% load project_tags %}

{% block title_extra %} Comments{% endblock %}

{% block extrahead %}
	<script src="{{ jquery }}" type="text/javascript"></script>
	<script type="text/javascript" src="{{ js_url }}/project_comments.js"></script>
{% endblock %}



{% block page_content %}
<div id="project_comments">
	<h2>{{project.name}}</h2>
	
	<form action="" method="post" id="comments_form">
		<div>
			<span class="publish_comment">Publish</span>
			<span class="delete_comment">Delete</span>
		</div>
		
		<div id="comments">
		{% for comment in comments %}
			<div id="comment_{{comment.id}}">
				<input type="checkbox" name="comment_{{comment.id}}" />
				<span class="comment_text">{{comment.text}}</span>
				<p class="comment_metainfo">
					<span class="comment_by">By: {{comment.comment_by}},</span>
					<span class="comment_date">{{comment.date|date:"F j, Y"}}</span>
				</p>
			</div>
		{% endfor %}
		</div>
		
		<input type="hidden" name="project_id" value="{{project.id}}"/>
	</form>
</div>
{% endblock %}
