{% extends "base.html" %}
{% load i18n %}
{% load project_tags %}

{% block title_extra %} &mdash; {{ project.name }} Created{% endblock %}
{% block extrahead %}
        <link rel="stylesheet" href="{{ css_url }}/main.css" type="text/css" />
		<script src="{{ jquery }}" type="text/javascript"></script>
		<script type="text/javascript">
			jQuery(document).ready(function(){
				
				$('.publish_link').click(function(){
					var url = "/projects/publish/" + this.id +"/";
					$.get(url, function(data){
						var project = JSON.parse(data);
						if(project.authorized){
							message = project.name + ' was published successfully';
							$('.publish_div').html(message);
						}
					});	
				});
				
				$('.review_link').click(function(){
					var id = this.id;
					var url = "/projects/submit_for_review/" + this.id + "/"
					$.get(url, function(data){
						var project = JSON.parse(data);
						if(project.authorized){
							message = project.name + ' was submitted for review successfully';
							$('.review_div').html(message);
						}
					});
				});
			});
		</script>
		
		
{% endblock %}
{% block page_content %}
	<a href="/projects/id/{{project.id}}/">{{ project.name }}</a> has been {{message}} successfully<br/>
	{% ifnotequal message "Published" %}
		{% publish_project_link project user%}
	{% endifnotequal %}
	<a href="/">Return to Homepage</a>
{% endblock %}