{% extends "base.html" %}
{% load i18n %}
{% load project_tags %}

{% block title_extra %} User Registration {% endblock %}

{% block extrahead %}
<script type="text/javascript" src="{{ jquery }}"></script>
<script type="text/javascript">
$(document).ready(function(){
	$("#submit_button").attr("disabled", "true");
	$("#id_username").blur(function(){
		uname = $(this).val();
		$.post("/check_username/",{username : uname}, function(data){
			if(data === "Available"){
				$("#submit_button").removeAttr("disabled");
			}
			$("#username_alert").html(data);
		});
	});
});
</script>
{% endblock %}

{% block page_content %}
<div id="user_registration">
	<h2>User Registration</h2>
	<form action="/user_registration/" method="post">
		<div>
			<label for="id_username">Username:</label> 
			{{form.username}}
			{{ form.username.errors }}			
			<span id="username_alert"></span>
		</div>
		<div>
			<label for="id_email">Email:</label> 
			{{form.email}}
			{{ form.email.errors }}			
		</div>
		<div>
			<label for="id_password">Password:</label> 
			{{ form.password }}
			{{ form.password.errors }}			
		</div>
		<div>
			<label for="id_confirm_password">Confirm Password:</label> 
			{{ form.confirm_password }}
			{{ form.confirm_password.errors }}			
		</div>
		<div class="main_action">
			<input id="submit_button" type="submit" value="Submit" disabled="disabled"/>
		</div>	
	</form>
</div>	
{% endblock %}