/* css for mapping main page */

html, body {
    margin: 0px;
    padding: 0px;
    color: black;
    background-color: white;
}

#wrapper{
    width: 1000px;
    margin:0 auto;
}

#header {
    background-color: #FEFDEE;
    border-style: solid;
    border-width: 2px;
}

#nav {
    background-color: yellow;
}

#map_canvas{
    width: 800px;
    height: 400px;
}

#bookmark{
    width: 800px;
}

#main {
    float: right;
    padding: 0px;
    background-color: #EFEFEF;
}


#sectors li {
    float: left;
    margin: 1px;
    padding-left:0px;
}

#filter_left {
    float: left;
    text-align: left;
    height: 400px;
    width: 160px;
    padding: 10px;
    background-color: #D3D3D3;
}

#footer {
    clear: both;
    background-color: black;
}

ul.drawers {
        width: 160px;
    }
    
ul {
    list-style: none;
    margin: 0;
    padding: 5px;
}

li a {
    text-decoration: none;
    color: #666;
}

h3.drawer-handle {
    margin: 0;
    padding: 0px;
    background-color: #85B2B7;
}

h3.drawer-handle.open {
    background-color: #828282;
}
